src/main/mule/mlesoft-cicd-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5a23b1c-5516-4efa-984a-5f5464ba3108" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mlesoft-cicd-sampleFlow" doc:id="a3f5202d-2ef3-4902-b4e4-643ab6bf55e4" >
		<http:listener doc:name="Listener" doc:id="ebd11f26-0b64-4156-afc0-87a16a4c18c4" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<logger level="INFO" doc:name="Logger" doc:id="349c2d4a-b671-4dd2-a819-1cd6d68ae412" message="#['hi everybody']"/>
	</flow>
</mule>
